<mdb-navbar SideClass="navbar navbar-expand-lg grey lighten-2 fixed-top" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="navbar-brand font-weight-bold" routerLink="dashboard" style="color:#4a148c;">
            <img src="assets/spinner_logo.png" height="50" class="d-inline-block align-middle">
            Spinner
        </a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link font-weight-bold" routerLink="bands" style="color:#4a148c;">Join Bands</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="this.userServ.logout()" style="color:#4a148c;">Logout</a>
            </li>
        </ul>
    </links>
</mdb-navbar>
