<mdb-navbar SideClass="navbar navbar-expand-lg grey lighten-2 fixed-top" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="navbar-brand font-weight-bold" routerLink="dashboard" style="color:#4a148c;">
            <img src="assets/spinner_logo.png" height="50" class="d-inline-block align-middle">
            Spinner
        </a>
    </mdb-navbar-brand>
    <links>
        <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search For Posts By Song"
                (keyup)="search(searchTerm.value)" (keydown.backspace)="search(searchTerm.value)" #searchTerm>
            </div>
        </form>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" (click)="searchPosts=[];" style="color:#4a148c;">Close</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link font-weight-bold" routerLink="likedposts" style="color:#4a148c;">My liked posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" routerLink="bands" style="color:#4a148c;" routerLinkActive="active">Join Bands</a>
            </li>
           
        </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons">
            
            <li class="nav-item avatar dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0"></a>
              <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">welcome {{this.userServ.loggedInUser.username}}</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#" (click)="this.userServ.logout()">Log out</a>
              </div>
            </li>
          </ul>
    </links>
</mdb-navbar>
<div *ngIf="tracks.length > 0" class="card-deck" style="position:absolute; top:4rem; left:10rem; right:37rem; background-color:rgba(224,224,224,0.75); z-index:100">
    <br><br><br><app-search-item [track]="track" *ngFor="let track of tracks" (click)="searchTrack=track; getPostsBySong(track)"></app-search-item><br><br>
</div>
<div *ngIf="searchPosts.length > 0" class="card-deck" style="position:absolute; top:4rem; left:10rem; right:37rem; background-color:rgba(224,224,224,0.75); z-index:100">
    <br><br><br><app-post-item [post]="post" *ngFor="let post of searchPosts"></app-post-item><br><br>
</div>
