.searchResultImg {
    width: 100%;
    height: auto;
}

.searchItemDiv {
    display: table-cell;
    padding: 20px;
}

.searchItemDivChild {
    width: 200px;
    height: 325px;
    padding: 20px;
}