<mdb-card style="width:80%; margin:0 auto">
    <div class="card-body">
       <button type="button" class="btn btn-dark" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"
        mdbWavesEffect>Create a new Band</button>

       <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-notify modal-success" role="document">
           <!--Content-->
           <div class="modal-content">
           <!--Header-->
           <div class="modal-header">
                <p class="heading lead">Create a new band</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->

            <!--Basic textarea-->
            <div class="md-form">
                <textarea type="text" [(ngModel)]="name" placeholder="how would you like to name the new band?" id="form79textarea" class="md-textarea form-control" rows="2" mdbInput></textarea>
            </div>
            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button" (click)="createBand()" mdbBtn color="success" class="waves-effect" mdbWavesEffect (click)="frame.hide()">Create band
                <mdb-icon far icon="gem" class="ml-1"></mdb-icon>
                </a>

                <a type="button" mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()">No, thanks</a>
            </div>
            </div>
    <!--/.Content-->
            </div>
        </div>
</div>
</mdb-card>