<mdb-card class="mb-4" style="background-color:#e0e0e0;">
    <mdb-card-body>
        <mdb-card-title>
            <div class="row">
                <div class="col-10">
                    <h4 class="font-weight-bold">{{ post.title }}</h4>
                    <p>Posted: {{ post.postTime }}</p>
                </div>
                <div class="col-2 my-auto mx-auto text-center">
                    <a (click)="addLike()">
                        <mdb-icon far icon="heart" size="lg" class="text-dark" aria-hidden="true"></mdb-icon>
                    </a>
                    <p style="color:black;"><small>{{ post.likes }}</small></p>
                </div>
            </div>
        </mdb-card-title>
        <div class="card-deck">
            <app-post-song [track]="track" *ngFor="let track of postTracks"></app-post-song>
        </div><br>
        <div class="comment-box">
            <table class="comment-table">
                <tr>
                    <th>Comments</th>
                </tr>
                <tr *ngFor="let comment of this.post.comments">
                    {{ comment.comment }}
                    <a (click)="addLikeComment(comment)">
                        <mdb-icon far icon="heart" size="1x" class="red-text" aria-hidden="true"></mdb-icon>
                    </a> 
                    {{comment.likes}} 
                    <button type="button" (click)="editComment(comment)" *ngIf="comment.user_id == userServ.loggedInUser.id">Edit</button>
                    <button type="button" (click)="deleteComment(comment)" *ngIf="comment.user_id == userServ.loggedInUser.id">Delete</button>
                </tr>
            </table>
            <form #newCommentForm><input name="new-comment" class="comment-input" type="text" placeholder="Comment here..." #newComment>
            <button type="submit" (click)="addComment(newComment.value); newCommentForm.reset()">Post</button>
        </form>
        </div>
    </mdb-card-body>
</mdb-card>
