<mdb-card>
    <mdb-card-body>
        <mdb-card-title>
            <h4>{{ post.title }}</h4>
            <p>Posted: {{ post.postTime }}</p>
        </mdb-card-title>
        <div class="card-deck">
            <app-search-item [track]="track" *ngFor="let track of postTracks"></app-search-item>
        </div><br>
        <p>{{ post.likes }} Likes</p>
        <div class="comment-box">
            <table class="comment-table">
                <tr>
                    <th>Comments</th>
                </tr>
                <tr *ngFor="let comment of this.post.comments">
                    {{ comment.comment }}   {{ comment.likes }}
                </tr>
            </table>
            <input id="new-comment" class="comment-input" type="text" placeholder="Comment here...">
            <button type="button" (click)="addComment()"></button>
        </div>
    </mdb-card-body>
</mdb-card>
