<mdb-card *ngIf="track" class="m-2">
    <mdb-card-body class="p-0">
        <div class="row" style="background-color:#191414;">
            <div class="col-4">
                <br><img class="searchResultImg" [src]="track.album.images[0].url" [alt]="track.name"><br><br>
            </div>
            <div class="col-6">
                <br><p class="font-weight-bold" style="color:white;">{{ track.name }}</p>
                <p style="color:#DCDCDC;">{{ track.artists[0].name }}</p>
            </div>
            <div class="col-2 my-auto mx-auto text-center">
                <mdb-icon far icon="heart" size="lg" class="white-text" aria-hidden="true" (click)="addLikeQuestionResp();"></mdb-icon><br>
                <p style="color:white;"><small>{{ response.likes }}</small></p>
            </div>
        </div>
    </mdb-card-body>
</mdb-card>
