<mdb-card class="mb-4" style="width:80%; margin:0 auto; background-color:#4a148c;" *ngFor="let d of data">
    <mdb-card-body>
        <mdb-card-title>
            <h4 style="color:white;">{{d.name}}</h4>
        </mdb-card-title>

        <button type="button" class="btn btn-dark" (click)="joinBand(d)" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"
         mdbWavesEffect>Join the Band</button>

     <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
     <div class="modal-dialog modal-notify modal-success purple darken-4" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead"> Success</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="check" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>You have successfully joined {{d.name}} </p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()">ok</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
    </mdb-card-body>
</mdb-card>
