<section *ngIf="!this.userServ.loggedInUser">
    <h1 class="title">Welcome to Spinner!</h1>
    <div>
        <app-register></app-register>
    </div>
</section>
<section *ngIf="this.userServ.loggedInUser">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
            <a ngbNavLink>Dashboard</a>
            <ng-template ngbNavContent>
                <div class="row">
                    <div class="col-4">
                        <app-daily-question></app-daily-question>
                    </div>
                    <div class="col-8">
                        <div class="container">
                            <h2 style="color:#aa00ff;"><strong>My Bands, at a glance</strong></h2>
                        </div>
                        <app-band-snapshot [band]="band" *ngFor="let band of this.userServ.loggedInUser.bands"></app-band-snapshot>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink>Join Bands</a>
            <ng-template ngbNavContent>
                <app-band></app-band>
                <app-join-band></app-join-band>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</section>
