<section *ngIf="!this.userServ.loggedInUser">
    <h1 class="title">Welcome to Spinner!</h1>
    <div>
        <app-register></app-register>
    </div>
</section>
<section *ngIf="this.userServ.loggedInUser">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
            <a ngbNavLink>Dashboard</a>
            <ng-template ngbNavContent>
                <app-band-snapshot [band]="band" *ngFor="let band of this.userServ.loggedInUser.bands"></app-band-snapshot>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink>Join Bands</a>
            <ng-template ngbNavContent>
                <app-band></app-band>
                <app-join-band></app-join-band>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</section>
