<div class="position-fixed" style="width:30%;" *ngIf="questionOtd">
<mdb-card style="width:80%; margin:0 auto; margin-left:4rem; background-color:#e0e0e0;"><!-- rgba(238,238,238,1)-->
    <mdb-card-body>
        <h2 class="card-title" style="color:#4a148c;"><strong>Question Of The Day</strong></h2><hr>
        <h4><strong>{{ questionOtd.question }}</strong></h4><hr>
        <div>
            <app-response-item [response]="response" 
                *ngFor="let response of questionOtd.responses | slice: (page-1) * pageSize : page * pageSize"></app-response-item>
        </div>
        <div class="d-flex justify-content-center">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="questionOtd.responses.length"></ngb-pagination>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-dark" style="background-color:#4a148c;" (click)="openModal(newResponse)">
                Add a Response
            </button>
        </div>
    </mdb-card-body>    
</mdb-card>
</div>

<ng-template #newResponse let-modal>
    <div class="modal-header">
        <h4 class="modal-title font-weight-bold" style="color:#4a148c;">Respond to the Question of the Day</h4>
        <button type="button" class="close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <h5 class="font-weight-bold">Song:</h5>
            <div class="card-deck">
                <app-search-item [track]="responseTrack"></app-search-item>
            </div>
        </form>
        <br>
        <div>
            <input type="text" id="inputSearch" placeholder="Search for a song"
                (keyup)="search(searchTerm.value)" (keydown.backspace)="search(searchTerm.value)" #searchTerm>
        </div>
        <div *ngIf="searchTracks" class="card-deck">
            <app-search-item [track]="track" *ngFor="let track of searchTracks" (click)="addToResponse(track)"></app-search-item>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="createAnswer()">Post</button>
    </div>
</ng-template>
