
<link href="register.component.css" rel="stylesheet"/>
<div>
    <div class="toggleBox">
        <button type="button" id="to-login" class="toggle-btn" (click)="toggle()" disabled>Login</button>
        <button type="button" id="to-register" class="toggle-btn" (click)="toggle()">Register</button>
    </div>
    <form name="loginForm" id="loginForm">
        <h2>Login</h2>
        <div>
            <label for="username">Username: </label>
            <input id="username" type="text" name="username" placeholder="Username" required="required" /><br>            
        </div>
        <div>
            <label for="passwd">Password: </label>
            <input id="password" type="password" name="password" placeholder="Password" required="required" /><br>
        </div>
        <button id="loginbtn" type="button" class="btn btn-primary btn-block btn-large" (click)="doClick()">Login</button>
    </form>
    <form name="registerForm" id="registerForm" hidden>
        <h1>User Registration</h1>
        <div>
            <label for="firstName">First Name: </label>
            <input id="firstName" type="text" name="firstName" placeholder="First Name" required="required" /><br>
        </div>
        <div>
            <label for="lastName">Last Name: </label>
            <input id="lastName" type="text" name="lastName" placeholder="Last Name" required="required" /><br>
        </div>
        <div>
            <label for="username">Username: </label>
            <input id="username" type="text" name="username" placeholder="Username" required="required" /><br>            
        </div>
        <div>
            <label for="passwd">Password: </label>
            <input id="password" type="password" name="password" placeholder="Password" required="required" /><br>
        </div>        
        <button id="registerBtn" type="button" class="btn btn-primary btn-block btn-large" (click)="doClick()">Submit</button>
  </form>
</div>

