
<br>
<br>
<br>
<br>
<br>
<img [src] = "convertedImage">

<div class="col-md-6">
  <h2 class="text-center">Edit User Information</h2>
  <form  >
    <div class="text-center"> 
      <h3> Upload Your Profile Picture Below</h3>       
      Profile Picture:
      <span *ngIf = "message">{{message}}</span>
      <input #file type="file" accept="image/*" (change)="preview(file.files)" />
      <img [src]="imgURL" height="200" *ngIf="imgURL">
    </div>    
    <div >
      <label for="username">Username: </label>
      <input formControlName="username" placeholder="Username" name="username" class="form-control" id="username" />     
    </div>

    <div >
      <label for="passwd">Password: </label>
      <input formControlName="passwd" placeholder="Password" name="passwd" class="form-control" id="passwd" />     
    </div>

    <div >
      <label for="firstName">First Name: </label>
      <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName" />
    </div>

    <div >
      <label for="lastName">Last Name: </label>
      <input formControlName="lastName" placeholder="Last Name" name="lastName" class="form-control" id="lastName" />
    </div>

    <button *ngFor = "let kk of Repdata; let ind = index" type="button" class="btn btn-success" (click)="edit(kk)">Update</button>
  </form>
</div>