

<div class="text-center"> 
  <h3> Upload Your Profile Picture Below</h3> 
  <input class="form-control" type="file" (change)="onFileChange($event)"> 
  <img [src]='imgURL' height="200" *ngIf ="imgURL">
</div>

<div>
  <input type="button" (click)="onUpload()" value="upload"> <br>
</div>

Profile Picture:
<!--{{profilePicData['pic'] | json}}-->
<img [src] = "convertedImage">
<!--
<div class="col-md-6">
  <h2 class="text-center">Edit User Information</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">    
    <div class="form-group">
      <label for="username">Username: </label>
      <input formControlName="username" placeholder="Username" name="username class="form-control" id="username"></input>      
    </div>

    <div class="form-group">
      <label for="passwd">Password: </label>
      <input formControlName="passwd" placeholder="Password" name="passwd" class="form-control" id="passwd"></input>      
    </div>

    <div class="form-group">
      <label for="firstName">First Name: </label>
      <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName"></input>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name: </label>
      <input formControlName="lastName" placeholder="Last Name" name="lastName" class="form-control" id="lastName"></input>
    </div>

    <button type="button" class="btn btn-success" (click)="update()">Update</button>
  </form>
</div>-->